{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block main %}

    <div class="mainTopPadding bgc">
        <img class="registerImg" src="{{ asset('build/img/Top-project-management.png') }}"
             alt="image about us">
    </div>

    {{ include('project/_form.html.twig') }}

    <a href="{{ path('app_project_index') }}">back to list</a>
{% endblock %}
