{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block main %}

    <div class="mainTopPadding bgc">
        <img class="registerImg" src="{{ asset('build/img/profile_img.png') }}"
             alt="image about us">
    </div>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
