{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block main %}

<div class="mainTopPadding bgc">
    <img class="registerImg" src="{{ asset('build/img/profile_img.png') }}"
         alt="image about us">
</div>

<div class="bgc">
    <div class="container-fluid">
        <div class="row justify-content-around">

            {#   Include card profile   #}
            <div class="col-lg-5 pt-3">
                {% include ('user/card_profile_user.html.twig') %}
                <div class="d-flex align-items-center justify-content-center mt-3">
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="aboutBtn">Modifier votre profil</a>
                </div>
            </div>


            <div class="col-lg-5 pt-3">

                <div class="bgc d-flex flex-column justify-content-cente align-items-center">
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="col-12 formRegister mb-5">
                            <h6>Description</h6>
                            <p>{{ user.description }}</p>
                        </div>
                    </div>
                </div>

                <div class="bgc d-flex flex-column justify-content-cente align-items-center">
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="col-12 formRegister mb-5">
                            <h6>Demandes de participation : <span> ...</span></h6>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">


            <h2 class="text-center mainTopPadding">Projets en cours</h2>
            {% for project in projects %}
                    {% include ('project/card_project_Profile.html.twig') %}
            {% endfor %}

            <div class="mainTopPadding"></div>
        </div>
    </div>

    {#    {{ include('user/_delete_form.html.twig') }} #}
    {% endblock %}
